.box_action{
    height: 5rem;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    h2{
        margin: 0;
    }
}


.avatar {
    margin: 8px;
    background-color: #000000 !important;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.39) !important;
}

.MuiAppBar-colorPrimary{
    background-color: black !important;
}